/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.replace(":", "/").toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'UHVDB_TOOLKIT:TOOLKIT:CLASSIFY:SEQKIT_SEQ' {
        ext.args = [
            "--remove-gaps",
            "--upper-case",
            "--validate-seq",
            "--min-len ${params.min_seq_length}",
        ].join(' ').trim()
    }

    withName: 'UHVDB_TOOLKIT:TOOLKIT:CLASSIFY:SEQKIT_REPLACE' {
        ext.args = { "--pattern '^' --replacement ${meta.id}_" }
        ext.prefix = { "${meta.id}.rename" }
    }

    withName: 'UHVDB_TOOLKIT:TOOLKIT:CLASSIFY:SEQKIT_SPLIT2' {
        label = 'process_low'
        ext.args = { "--by-size ${params.split_size}" }
        ext.prefix = { "${meta.id}.split" }
    }

    withName: 'UHVDB_TOOLKIT:TOOLKIT:CLASSIFY:SEQKIT_REPLACE_PROVIRUS' {
        ext.args = [
            "--pattern '(_\\d\\s.*)'",
            "--replacement ''"
        ].join(' ').trim()
        ext.prefix = { "${meta.id}.provirus" }
    }

    withName: 'UHVDB_TOOLKIT:TOOLKIT:CLASSIFY:FIND_CONCATENATE_CHECKV' {
        ext.prefix = { "${meta.id}.combined.fna.gz" }
    }

    withName: 'UHVDB_TOOLKIT:TOOLKIT:CLASSIFY:CSVTK_FILTER2' {
        ext.args = [
            "--tabs",
            "--filter '( \$aai_completeness >= 50 ) && ( \$kmer_freq <= 1.2 ) && ( \$contig_length / \$aai_expected_length <= 1.5 )'",
            "| csvtk cut -f contig_id --out-delimiter '\t'"
        ].join(' ').trim()
        ext.prefix = { "${meta.id}.filtered" }
    }

    withName: 'UHVDB_TOOLKIT:TOOLKIT:CLASSIFY:TRTRIMMER' {
        ext.args = [
            "--min-length 20",
            "--include-tr-info"
        ].join(' ').trim()
        ext.prefix = { "${meta.id}.tr-trimmer" }
    }

    withName: 'UHVDB_TOOLKIT:TOOLKIT:HCFILTER:CSVTK_FILTER2' {
        ext.args = [
            "--tabs",
            "--filter '( \$uhvdb_virus_classification == \"uncertain\" )'",
            "| csvtk cut -f seq_name --out-delimiter '\t'"
        ].join(' ').trim()
        ext.prefix = { "${meta.id}.filtered" }
    }

    withName: 'UHVDB_TOOLKIT:TOOLKIT:MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }



}
