/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.replace(":", "/").toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'UHVDB_TOOLKIT:TOOLKIT:PREPROCESS:DEACON_INDEXFETCH' {
        ext.args = [
            "--pattern '(_\\d\\s.*)'",
            "--replacement ''"
        ].join(' ').trim()
    }

    withName: 'UHVDB_TOOLKIT:TOOLKIT:ASSEMBLE:SPRING_MEGAHIT' {
        ext.args = {"--k-list 21,29,39,59,79,99,119,141,163,185,207,229,251 --min-contig-len ${params.min_seq_length}"}
    }

    withName: 'UHVDB_TOOLKIT:TOOLKIT:CLASSIFY:SEQKIT_SEQ_REPLACE_SPLIT2' {
        ext.args = [
            "--remove-gaps",
            "--upper-case",
            "--validate-seq",
            "--min-len ${params.min_seq_length}",
        ].join(' ').trim()
        ext.args2 = { "--pattern '^' --replacement ${meta.id}_" }
        ext.args3 = { "--by-size ${params.local_split_size}" }
    }

    withName: 'UHVDB_TOOLKIT:TOOLKIT:CLASSIFY:SEQKIT_REPLACE_PROVIRUS' {
        ext.args = [
            "--pattern '(_\\d\\s.*)'",
            "--replacement ''"
        ].join(' ').trim()
        ext.prefix = { "${meta.id}.provirus" }
    }

    withName: 'UHVDB_TOOLKIT:TOOLKIT:CLASSIFY:FIND_CONCATENATE_CHECKV' {
        ext.prefix = { "${meta.id}.combined.fna.gz" }
    }

    withName: 'UHVDB_TOOLKIT:TOOLKIT:CLASSIFY:CSVTK_FILTER2' {
        ext.args = [
            "--tabs",
            "--filter '( \$aai_completeness >= 50 ) && ( \$kmer_freq <= 1.2 ) && ( \$contig_length / \$aai_expected_length <= 1.5 )'",
            "| csvtk --tabs cut -f contig_id --out-delimiter '\t'"
        ].join(' ').trim()
        ext.prefix = { "${meta.id}.filtered" }
    }

    withName: 'UHVDB_TOOLKIT:TOOLKIT:HQFILTER:TRTRIMMER' {
        ext.args = [
            "--min-length 20",
            "--include-tr-info"
        ].join(' ').trim()
        ext.prefix = { "${meta.id}.tr-trimmer" }
    }

    withName: 'UHVDB_TOOLKIT:TOOLKIT:HQFILTER:FASTA_VCLUST_PREFILTER_ALIGN_CLUSTER:VCLUST_CLUSTER' {
        ext.args = [
            "--algorithm cd-hit",
            "--qcov 0.85",
            "--out-repr"
        ].join(' ').trim()
    }

    withName: 'UHVDB_TOOLKIT:TOOLKIT:HQFILTER:CSVTK_UNIQ' {
        ext.args = [
            "--tabs",
            "--fields cluster",
            "| csvtk cut --tabs -f cluster --out-delimiter '\t'"
        ].join(' ').trim()
        ext.prefix = { "${meta.id}.vclust_reps" }
    }

    withName: 'UHVDB_TOOLKIT:TOOLKIT:HCFILTER:CSVTK_FILTER2' {
        ext.args = [
            "--tabs",
            "--filter '( \$uhvdb_virus_classification == \"uncertain\" )'",
            "| csvtk cut -f seq_name --out-delimiter '\t'"
        ].join(' ').trim()
        ext.prefix = { "${meta.id}.filtered" }
    }

    withName: 'UHVDB_TOOLKIT:TOOLKIT:MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }



}
